@{
    ViewBag.Title = "Index";
    ViewBag.Description = "Home Page";
}

<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>3</h3>
                    <p>Total Notes</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>1<sup style="font-size: 20px"></sup></h3>
                    <p>Resolved Cases</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>2</h3>
                    <p>New Cases</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>1</h3>
                    <p>In Progress</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
            </div>
        </div><!-- ./col -->
    </div><!-- /.row -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h5 class="box-title">HISTORY NOTES </h5>
                    <div class="box-tools">
                        <div class="input-group" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th>ID</th>
                            <th>Subject</th>
                            <th>Created By</th>
                            <th>Date Created</th>
                            <th>Comments</th>
                            <th>View</th>
                            <th>Add</th>
                        </tr>
                        <tr>
                            <td>183</td>
                            <td>Loan Balance</td>
                            <td>Lindiwe Ndlovu</td>
                            <td>11-5-2019</td>
                            <td>Danger alert preview. This alert is dismissable.  enjoy with my whole heart.</td>
                            <td><span class="label label-danger">View </span></td>
                            <td><span class="label label-warning">Add Note</span></td>

                        </tr>
                        <tr>
                            <td>219</td>
                            <td>Fund Credit Request</td>
                            <td>Kungomusa Ndlovu</td>
                            <td>11-3-2019</td>
                            <td>Danger alert preview. This alert is dismissable. ng which I enjoy with my whole heart.</td>
                            <td><span class="label label-danger">View </span></td>
                            <td><span class="label label-warning">Add Note</span></td>
                        </tr>
                        <tr>
                            <td>657</td>
                            <td>Details Update</td>
                            <td>Mangaliso Ndlovu</td>
                            <td>11-3-2019</td>
                            <td>A wonderful serenity has taken possession of my entire soul,</td>
                            <td><span class="label label-danger">View</span></td>
                            <td><span class="label label-warning">Add Note</span></td>
                        </tr>
                    </table>
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h5 class="box-title">CASE MANAGEMENT</h5>
                    <div class="box-tools">
                        <div class="input-group" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th>ID</th>
                            <th>Subject</th>
                            <th>Created by</th>
                            <th>Date Created</th>
                            <th>Due Date</th>
                            <th>Assigned To</th>
                            <th>Priority</th>
                            <th>Status</th>
                            <th>SLA</th>
                            <th>View</th>
                            <th>Add</th>
                        </tr>
                        <tr>
                            <td>183</td>
                            <td>Billing Dispute</td>
                            <td>Mashudu Muleya</td>
                            <td>11-7-2014</td>
                            <td>11-7-2014</td>
                            <td>Fortune Ndlovu</td>
                            <td>High </td>
                            <td>New </td>
                            <th>Yes</th>
                            <td><span class="label label-danger">View</span></td>
                            <td><span class="label label-warning">Create</span></td>
                        </tr>
                        <tr>
                            <td>219</td>
                            <td>Loan Application</td>
                            <td>Fortune Ndlovu</td>
                            <td>01-4-2019</td>
                            <td>14-4-2019</td>
                            <td>Kungomusa Ndlovu</td>
                            <td>Low</td>
                            <td>In Progress</td>
                            <th>No</th>
                            <td><span class="label label-danger">View </span></td>
                            <td><span class="label label-warning">Create</span></td>
                        </tr>
                        <tr>
                            <td>657</td>
                            <td>Data Updates</td>
                            <td>Phiwokuhle Ndlovu</td>
                            <td>10-4-2019</td>
                            <td>25-4-2019</td>
                            <td>Phiwo Ndlovu</td>
                            <td>Medium </td>
                            <td>Resolved</td>
                            <th>Yes</th>
                            <td><span class="label label-danger">View</span></td>
                            <td><span class="label label-warning">Create</span></td>
                        </tr>
                        <tr>
                            <td>175</td>
                            <td>Banking Details</td>
                            <td>Snenhlanhla Maphumulo</td>
                            <td>16-4-2019</td>
                            <td>23-4-2019</td>
                            <td>Fortune Ndlovu</td>
                            <td>High </td>
                            <td>New </td>
                            <th>No</th>
                            <td><span class="label label-danger">View</span></td>
                            <td><span class="label label-warning">Create</span></td>
                        </tr>
                    </table>
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>


</section><!-- /.content -->
     